@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

html, body, #root {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior-y: none;
}

body {
    overflow: hidden;
}

#root {
    background-image: linear-gradient(#17181e, #222426);
}
